#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.buttons {
  display: flex;
  gap: 80px;
}

.bg-dark {
    background-color: #242424;
    color: #ffffff;
}

.bg-light {
    background-color: #d8d5d5ea;
    color: #000000;
}

.toggles {
  display: flex;
  gap: 50px;
  position: fixed;
  top: 30px;
  right: 80px;
}

.bt-on {
  background-color: #2525f6;
}

.clockContainer {
  margin-bottom: 50px;
  padding: 20px;
}

.clockImg {
  width: 150px;
  height: 150px;
  border-radius: 30px;
}