#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  /* overflow: hidden; */
}

.toggles {
  display: flex;
  gap: 50px;
  position: absolute;
  top: 30px;
  right: 80px;
}

.buttons {
  display: flex;
  gap: 80px;
  justify-content: center;
  margin-top: 80px;
}

.bg-dark {
    background-color: #242424;
    color: #ffffff;
}

.bg-light {
    background-color: #d8d5d5ea;
    color: #000000;
}

.bt-on {
  background-color: #2525f6;
}

.clockContainer {
  padding: 10px; 
  position: absolute;
  top: 30px;
  left: 20px;
}

.clockImg {
  width: 100px;
  height: 100px;
  border-radius: 30px;
}